html{
 background-color: RGB(38, 39, 40);
 color: RGB(151, 150, 150);
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
h2{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: RGB(151, 150, 150)
}
h2:hover {
  color: RGB(248, 240, 227);
  background-color: rgb(66, 67, 68);

}
h2:active{
  color: black;
}
.top-click{
	text-align: center;
	margin: 0 0 0 0;
  color: white;
  text-decoration: none;
}
.top-part{
	background-color: RGB(48, 49, 50);
  margin-top: -20px;
}
.page-sections{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
#bmxpic{
	width: 400px;
	display: block;
	margin-right:0;
	margin-left:200px;
	margin-top: 0px;
}
.main-part{
	display: grid;
	grid-template-columns: 40% 60%;

}
#pic{
	width: 300px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	margin-top: 25px;
}
.pic-link{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
#lion{
	width: 1070px;
	height: 300px;
		display: block;
	margin-right:auto;
	margin-left:auto;
}
p{
	text-align: center;
}
.bottom_section {
  background-color: RGB(48, 49, 50);
}
.socialmedia {
	text-align: right;
}
.intext{
  text-align: center;
  margin: 0 0 0 0;
  color: rgb(70, 71, 72);
  text-decoration: none;
}
.intext:hover{
  color: RGB(248, 240, 227);
}
h3{
  text-align: center;
}
